@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkYellow: #ccb24c;
  --yellow: #f7d683;
  --lightYellow: #fffdc0;
  --blue: #457d97;
  --black: #000000;
  --white: #fffffd;
}

*{
  scroll-behavior: smooth;
}